* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: url("walp.jpg");
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.prflimg {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 24%;
}

.boximg {
  text-align: center;
  padding: 10px 20px;
}

.firstcard {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  opacity: 0.9;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  opacity: 0.9;
}

table, td, th {
  border: 1px solid black;
}

td, th {
  text-align: center;
}

table {
  width: 80%;
  border-collapse: collapse;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #333;
  margin-top: 20px;
  color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
